<header class="dashboard-header">
  <!-- LOGO -->
  <a routerLink="/dashboard" class="brand">
    <i class="fa-solid fa-store"></i>
    <img src="assets/images/logo.png" alt="Logo" />
    <span class="brand-name">Sales Store</span>
  </a>

  <!-- MENU -->
  <nav class="main-nav">
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Trang chủ
    </a>

    <a routerLink="/dashboard/products" routerLinkActive="active">
      Sản phẩm
    </a>

    <a routerLink="/dashboard/orders" routerLinkActive="active">
      Giỏ hàng
    </a>

    <button (click)="logout()" class="logout-btn">
      Đăng xuất
    </button>
    
  </nav>

</header>
