.sidebar {
  width: 200px;
  background: #f1f5f9;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-radius: 6px;
  margin-bottom: 8px;
}

a.active {
  background: #2563eb;
  color: white;
}
