<h2>Danh sách đơn hàng</h2>

<select [(ngModel)]="statusFilter" (change)="applyFilter()">
  <option value="all">Tất cả</option>
  <option value="pending">Pending</option>
  <option value="completed">Completed</option>
  <option value="cancelled">Cancelled</option>
</select>

<table class="order-table">
  <thead>
    <tr>
      <th>Mã</th>
      <th>Tổng tiền</th>
      <th>Trạng thái</th>
      <th>Ngày</th>
      <th>Hành động</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let o of filteredOrders">
      <td>#{{ o.id }}</td>
      <td>{{ o.totalPrice | number }} đ</td>
      <td class="status" [ngClass]="o.status">{{ o.status }}</td>
      <td>{{ o.createdAt | date:'short' }}</td>

      <button *ngIf="o.status === 'pending'" (click)="paymentOrder(o.id)" class="payment-btn">Thanh toán</button>

    </tr>
  </tbody>
</table>