<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow login-card">

    <h3 class="text-center fw-bold mb-4">
      LOGIN PAGE
    </h3>

    <form>
      <div class="mb-3">
        <label>Username</label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username">
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
      </div>

      <button type="button" class="btn btn-primary w-100 mb-3" (click)="onLogin()">
        Đăng nhập
      </button>
    </form>


    <div class="text-center">
      <a routerLink="/forgot-password" class="d-block mb-2">
        Quên mật khẩu
      </a>
      <a routerLink="/register">
        Tạo tài khoản mới
      </a>
    </div>

  </div>
</div>