<h2>Danh sách sản phẩm</h2>

<input type="text" placeholder="Tìm sản phẩm" [(ngModel)]="keyword" (input)="applyFilter()" />

<button (click)="showForm = true">Thêm sản phẩm</button>

<app-product-form *ngIf="showForm" [product]="selectedProduct"
  (submitForm)="selectedProduct ? updateProduct($event) : addProduct($event)" (cancel)="showForm = false">
</app-product-form>

<table class="product-table">
  <thead>
    <tr>
      <th>Ảnh</th>
      <th>Tên</th>
      <th>Giá</th>
      <th colspan="3">Hành động</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td><img [src]="p.thumbnail" width="60" /></td>
      <td>{{ p.title }}</td>
      <td>{{ p.price | number }} đ</td>
      <td><button (click)="addToCart(p)">Thêm vào giỏ</button></td>
      <td><button (click)="editProduct(p)">Sửa</button></td>
      <td><button (click)="deleteProduct(p.id)">Xóa</button></td>
    </tr>
  </tbody>
</table>