<h2 class="page-title">Danh sách sản phẩm</h2>

<div class="toolbar">
  <div class="search-center">
    <div class="search-box">
      <input class="search-input" type="text" placeholder="Tìm sản phẩm" [(ngModel)]="keyword"
        (input)="applyFilter()" />
      <button class="search-btn"> <i class="fa-solid fa-magnifying-glass"></i> </button>
    </div>
  </div>
  <button *ngIf="isAdmin" class="btnbtn-add" (click)="showForm = true">Thêm sản phẩm</button>

</div>

<div class="form-wrapper" *ngIf="showForm && isAdmin">
  <app-product-form [product]="selectedProduct"
    (submitForm)="selectedProduct ? updateProduct($event) : addProduct($event)" (cancel)="showForm = false">
  </app-product-form>
</div>

<div class="products-grid">
  <div class="product-card" *ngFor="let p of filteredProducts">
    <a class="card-link" [routerLink]="['/product', p.id]" target="_blank">
      <div class="img-wrap">
        <img [src]="p.thumbnail" alt="{{ p.title }}" />
      </div>
      <div class="card-body">
        <h3 class="product-title" title="{{ p.title }}">{{ p.title }}</h3>
        <div class="product-price">{{ p.price | number }} đ</div>
      </div>
    </a>

    <div class="card-footer">
      <button class="btn btn-cart" (click)="addToCart(p); $event.stopPropagation(); $event.preventDefault();">Thêm vào
        giỏ</button>
      <div class="admin-btns" *ngIf="isAdmin">
        <button class="btn btn-edit" (click)="editProduct(p)">Sửa</button>
        <button class="btn btn-delete" (click)="deleteProduct(p.id)">Xóa</button>
      </div>
    </div>
  </div>
</div>